*.php linguist-detectable=true
*.blade.php linguist-detectable=true
*.css linguist-detectable=false
*.js linguist-detectable=false
*.md linguist-documentation
/resources/** linguist-detectable=false
/public/** linguist-detectable=false
